<!DOCTYPE html>
<html>
    <head>
        <style>
            .container{
                text-align: center;
            }
        </style>
    </head>
        <body>
            {% csrf_token %}
           
            <div class="container">
                
                <h2>Payment  </h2>
               <!----<div class="imgclass">
                    <img src="/media/{{modelobj.mobile_image}}">
                </div>
                <div class="transclass">
                    <select name="transtype">
                        <option value="card">Card</option>
                        <option value="cash">Cash</option>
                    </select>
                </div>
                <div>
                   <a href="/showroom/payment"><input type="button" value="SELL" calss="btnclass"></a>
                </div>
            --->
            </div>
        </body>
    
</html>